body {
    background-color: rgb(133, 99, 44);
}
.dash{
    width: 60%;
    height: 550px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
}
@media (max-width: 700px) {
    .dash{
        width: 60%;
    height: 1810px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    }
}
.dash_second{
    width: 22%;
    background: rgb(56, 55, 55);
    margin-left: 56px;
    margin-bottom: 70px;
    border-radius: 14px;
    float: left;
}
@media (max-width: 700px) {
    .dash_second{
    width: 55%;
    background: rgb(56, 55, 55);
    margin-left: 56px;
    margin-bottom: 70px;
    border-radius: 14px;
    }
}
.icon{
    width: 50px;
    height: 50px;
    padding-left: 12px;
    padding-top: 12px;
    border: 2px white;
     
}
.for{
    color: white;
    padding-left: 12px;
    font-weight: lighter;
    font-family: verdana;
}
h2{
    color: white;
    padding-left: 12px;
    font-weight: lighter;
    font-family: verdana;
    padding-bottom: 45px;
}
.list{
    background: rgb(80, 79, 79);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-family: geneva;
    font-size: 15px;
}
.spc{
    float: left;
    width: 2%; 
    color: whitesmoke;
}

.side{
    float: left;
    background: rgb(3, 3, 102);
    width: 20%;
    color: white;
    border-radius: 12px;
    border-top: 17px solid blue;  
}
@media (max-width: 700px) {
    .side{
        background: rgb(3, 3, 102);
        width: 60%;
        color: white;
        border-radius: 12px;
        border-top: 17px solid blue;  
        margin-left: 52px;
        
    }
}

@media (max-width: 700px) {
    .gap{
        width: 70%; 
        color: whitesmoke; 
    }
} 


h5{
    padding-left: 12px;
}
h1{
    padding-left: 12px;
}